:root {
  --clr-primary-light-red: hsl(0, 100%, 67%);
  --clr-primary-orangey-yellow: hsl(39, 100%, 56%);
  --clr-primary-green-teal: hsl(166, 100%, 37%);
  --clr-primary-cobalt-blue: hsl(234, 85%, 45%);

  --clr-primary-light-red-bg: hsla(0, 100%, 67%, 0.1);
  --clr-primary-orangey-yellow-bg: hsla(39, 100%, 56%, 0.1);
  --clr-primary-green-teal-bg: hsla(166, 100%, 37%, 0.1);
  --clr-primary-cobalt-blue-bg: hsla(234, 85%, 45%, 0.1);

  --clr-gradient-light-slate-blue: hsl(252, 100%, 67%);
  --clr-gradient-light-royal-blue: hsl(241, 81%, 54%);
  --clr-gradient-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-gradient-persian-blue: hsla(241, 72%, 46%, 0);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-light-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);
  --clr-neutral-dark-gray-blue-light: hsla(224, 30%, 27%, 0.5);

  --font-family-primary: "Hanken Grotesk", sans-serif;

  --font-weight-extra-bold: 800;
  --font-weight-bold: 700;
  --font-weight-regular: 500;

  /* Font Size */
  --font-size-200: 0.75rem;
  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.125rem;
  --font-size-600: 1.25rem;
  --font-size-700: 1.5rem;
  --font-size-800: 1.875rem;
  --font-size-900: 2.25rem;
}

/*  https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

body {
  background-color: var(--clr-neutral-pale-blue);
  color: var(--clr-neutral-dark-gray-blue);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-400);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--clr-neutral-white);
  width: 300px;
  height: 500px;
  display: grid;
  grid-template-rows: 3fr 4fr;
  border-radius: 1rem;
  overflow: hidden;
}

.score-section {
  background-image: linear-gradient(
    to bottom,
    var(--clr-gradient-light-slate-blue),
    var(--clr-gradient-light-royal-blue)
  );
  color: var(--clr-neutral-light-lavender);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.summary-section {
  background-color: var(--color-neutral-100);
  font-size: var(--font-size-300);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 100%;
}

.ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-image: linear-gradient(
    to bottom,
    var(--clr-gradient-violet-blue),
    var(--clr-gradient-light-royal-blue)
  );
}

h1 {
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-600);
}

.big-number {
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-800);
}

.small-font-size {
  font-size: var(--font-size-300);
}

h2 {
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-bold);
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.stat-div {
  display: flex;
  flex-direction: row;
}

.reaction {
  color: var(--clr-primary-light-red);
  background-color: var(--clr-primary-light-red-bg);
}

.memory {
  color: var(--clr-primary-orangey-yellow);
  background-color: var(--clr-primary-orangey-yellow-bg);
}

.verbal {
  color: var(--clr-primary-green-teal);
  background-color: var(--clr-primary-green-teal-bg);
}

.visual {
  color: var(--clr-primary-cobalt-blue);
  background-color: var(--clr-primary-cobalt-blue-bg);
}

button {
  background-color: var(--clr-neutral-dark-gray-blue);
  color: var(--clr-neutral-white);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

button:hover {
  background-image: linear-gradient(
    to bottom,
    var(--clr-gradient-light-slate-blue),
    var(--clr-gradient-light-royal-blue)
  );
}

.ratio {
  color: var(--clr-neutral-dark-gray-blue);
  font-weight: var(--font-weight-bold);
}

.ratio span {
  color: var(--clr-neutral-dark-gray-blue-light);
  font-weight: var(--font-weight-regular);
}

/* Media queries */
@media (min-width: 50em) {
  .container {
    grid-template-columns: 3fr 4fr;
    grid-template-rows: none;
    width: 500px;
    height: 300px;
  }
}
